/* CSS for Introduction */
#intro {
    width: 100%;
    height: 100%;
    border: 5px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}

.introduction {
    display: flex;
    padding: .5%;
    background-color: rgb(219, 198, 159);
    flex-basis: auto;
    width: 70%;
}

/* CSS for combined homepage */
.body{
    display: flex;
    flex-direction: row;
    height: 100%;
}

/* CSS for sign in part */
.signin {
    display: flex;
    flex-direction: column;
    background-color: rgb(219, 198, 159);
    width: 30%;
    min-height: 100%;
}

label {
    font-size: 150%;
    color: aliceblue;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: antiquewhite;
}

a {
    font-size: 100%;
}

a:hover {
    color: aqua;
    text-decoration: underline;
}

input[type=text]
 {
    width: 100%;
    font-size: 100%;
    padding: 4% 3%;
    margin: 2% 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
}

input[type=password]
 {
    width: 100%;
    padding: 4% 3%;
    margin: 2% 0;
    font-size: 120%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
}

input[type=submit] {
    position:relative;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 4% 3%;
    margin: 2% 0;
    border: none;
    font-size: 100%;
    border-radius: 40px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.sign {
    background-color: rgb(139, 114, 66);
    align-content: space-between;
    padding: 5%;
    margin: 2%;
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 5px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}

.link{
    display: flex;
    justify-content: center;
}