.forget {
    align-content: space-between;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(219, 198, 159);
    min-height: 100%;
    width: 100%;
}

#txt{
    color:   rgb(36, 20, 2);
}