.box {
    background-color: rgb(139, 114, 66);
    border: 5px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 2%;
}

.signup {
    align-content: space-between;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(219, 198, 159);
    min-height: 100%;
    width: 100%;
}

.confirm{
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: rgb(139, 114, 66);
    border: 5px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 2%;
}

#resendConfirmation{
    position:relative;
    width: auto;
    background-color: #4CAF50;
    color: white;
    padding: 20% 15%;
    margin: 2% 0;
    border: none;
    font-size: 100%;
    border-radius: 40px;
    cursor: pointer;
}
